@use "../base/variables" as *;

.nft-card {
    width: min(90%, 350px);
    background: var(--card-bg-color);
    margin: 0 auto;
    font-size: rem(18px);
    padding: 1em;
    border-radius: 1em;
    box-shadow: var(--box-shadow);
    color: var(--text-color);

    &__bg-layer {
        // Setting the font-size to 0 constrains the overlay to image height
        font-size: 0;
        position: relative;
        border-radius: rem(10px);
        overflow: hidden;


        &::after {
            content: url('../images/icon-view.svg');
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(10px);
            background-color: var(--highlight-color);
            opacity: 0;
            transition: opacity 0.5s ease 0s;
        }

        &:hover::after {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    &__heading {
        color: var(--heading-color);
        font-weight: 600;
        font-size: rem(20px);
        margin-top: 1.25em;
        margin-bottom: 1em;

        &:hover {
            color: var(--highlight-color);
            cursor: pointer;
        }
    }

    &__text {
        line-height: 1.5;
        margin: 0.5em 0;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        margin-bottom: 0.8em;
    }

    &__eth {
        color: var(--highlight-color);
        font-size: rem(16px);
    }

    &__timer {
        font-size: rem(16px);
    }

    &__eth::before {
        content: url('../images/icon-ethereum.svg');
        margin-right: .3em;
        vertical-align: middle;
    }

    &__timer::before {
        content: url('../images/icon-clock.svg');
        margin-right: .3em;
        vertical-align: middle;
    }

    &__creator {
        display: flex;
        align-items: center;
        border-top: 1px solid var(--line-color);
        padding-top: 0.75em;
    }

    &__creator-image {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: rem(14px);
    }

    &__creator-name {
        color: var(--heading-color);

        &:hover {
            color: var(--highlight-color);
        }
    }
}